body {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.black {
  background-color: black;
  color: white;
}
.buttn {
  padding: 30px 10px;
  cursor: pointer;
}
